/*tham khao*/
.img-monhoc{
    width: 100px;
    height: 150px;
    margin-top: .2rem;
}
.ti-book{
    width: 15rem;
    height: 17rem;
    vertical-align: middle;
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex: 0 0 25%;
    margin-left: 4rem;
}
.grid-container {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
}
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
}
